.container{
    display: block;
    height: 300px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/*h3{
    display: block;
}*/
/* input divs */
.system-input-div{
    float: left;
    height: 200px;
    width: 33%;
}

.home-input-div{
    float: left;
    height: 500px;
    width: 33%;
}

.fermentables-input-div{
    float: left;
    height: 700px;
    width: 33%;
}

.hops-input-div{
    float: left;
    height: 700px;
    width: 33%;
}

.mash-input-div{
    float: left;
    height: 600px;
    width: 33%;
}

.yeast-input-div{
    float: left;
    height: 700px;
    width: 33%;  
}

.water-input-div{
    float: left;
    height: 700px;
    width: 33%;
}

.fermentation-input-div{
    float: left;
    height: 700px;
    width: 33%;
}

.chemistry-input-div{
    float: left;
    height: 1500px;
    width: 33%;
}

/* app divs */
.system-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 200px;
}

/* Home App START */
.home-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 500px;
}

#notes {
    height: 75%;
    width: 100%;
    font-size: 14pt;
    text-align: left;
} 

/* Floating Social Media Bar Style Starts Here */

.fl-fl {

    height: 75%;
    width: 75%;
    color: #000;
    background: #fff;
    border: solid 1px;
    letter-spacing: 3px;
    padding: 4px;
    position: fixed;
    right: -600px;
    z-index: 1000;
    top: 180px;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }

/*.fl-fl:hover {
    right: 0;
}*/



.close-button {
    float: right;
}

  
/* Home App END */

.fermentables-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.hops-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.mash-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 600px;
}

.yeast-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.yeast_pitch_rates {
    font-weight: bold;
}

.water-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.fermentation-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.chemistry-app-div{
    border-left: solid; 
    float: right;
    width: 65%;
    height: 1500px;
}

/* Chemistry Styles */
.chemistry_inputs {
    width: 100%;
}
/* End Chemistry Styles */


/* Select Styles */

select {
    /*-webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */*/
    /*background: url("../img/dropdown_arrow.jpg") no-repeat right center;   /* add custom arrow */*/
    height: 34px;
    width: 500px; /* Currently overridden below */
}

/* End Select Styles */

/* Input Styles */

input {
    text-align: center;
}
select {
    width: 200px;
}

/* End Input Styles */



/* Fermentables */

.fermentables_weight {
    width: 100%;
}

.grain_percents{

}

.chartDiv{
    display: block;
}

/* The Tables */

table, th, td {
    border: 1px solid black;
    text-align: center;
}
table {
    width: 100%;
}


/* End The Tables */

/* The Tab Layout */

body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    
    /* large screen settings */
    float: left;

    /* mobile settings */ 
/*    display: block;
    margin: auto; center button text for mobile
    width: 100%; /*spread button across screen
    */


    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0px 0px 0px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

/* End Tab Layout */


