.container{
    display: block;
    height: 300px;
    width: 100%;
}

/*h3{
    display: block;
}*/
/* input divs */
.input-div{
    border-style: solid; 
    float: left;
    height: 600px;
    width: 33%;
}

.fermentables-input-div{
    border-style: solid; 
    float: left;
    height: 500px;
    width: 33%;
}

.hops-input-div{
    border-style: solid; 
    float: left;
    height: 700px;
    width: 33%;
}

.mash-input-div{
    border-style: solid; 
    float: left;
    height: 600px;
    width: 33%;
}

.yeast-input-div{
    border-style: solid; 
    float: left;
    height: 700px;
    width: 33%;
}

.chemistry-input-div{
    border-style: solid; 
    float: left;
    height: 1500px;
    width: 33%;
}

/* app divs */
.app-div{
    border-style: solid; 
    float: right;
    width: 65%;
    height: 600px;
}

.fermentables-app-div{
    border-style: solid; 
    float: right;
    width: 65%;
    height: 500px;
}

.hops-app-div{
    border-style: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.mash-app-div{
    border-style: solid; 
    float: right;
    width: 65%;
    height: 600px;
}

.yeast-app-div{
    border-style: solid; 
    float: right;
    width: 65%;
    height: 700px;
}

.chemistry-app-div{
    border-style: solid; 
    float: right;
    width: 65%;
    height: 1500px;
}

/* Chemistry Styles */
.chemistry_inputs {
    width: 100%;
}
/* End Chemistry Styles */


/* Select Styles */

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;   /* add custom arrow */
    height: 34px;
    width: 250px;
}

/* End Select Styles */

/* Input Styles */

input {
    text-align: center;
}

/* End Input Styles */



/* Fermentables */

.fermentables_weight {
    width: 100%;
}

.grain_percents{

}

.chartDiv{
    display: block;
}

/* The Tables */

table, th, td {
    border: 1px solid black;
    text-align: center;
}
table {
    width: 100%;
}


/* End The Tables */

/* The Tab Layout */

body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

/* End Tab Layout */


