
<!DOCTYPE html>
<html>
<head>
    <title>Brewculator</title>

    <!-- Outside CSS and JS -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <!-- Custom CSS and JS -->
    <link rel="stylesheet" type="text/css" href="../static/css/thegratefulbrauer.css">
    <link rel="stylesheet" href="/static/css/brewculator.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">    

</head>

<body>


{% extends "nav-bar.html" %}
{% block Content_or_Rmd %}
<p id=messages></p>

<div style="text-align: center;">
    <h1>Brewculator</h1>    
</div>


<!--Set Website Route and collect json version of the constants database
(figure this out later; notes said to do it)
-->
<script type=text/javascript>
    // Set the Website Route
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    // Collect json version of the constants database
    Data = JSON.parse({{ Data|tojson }})

</script>

<!-- Tabs -->

<div class="tab">
    <!-- System Tab Button ID is for setting the default tab selected -->
    <button id="Home_Tab_Button" class="tablinks" onclick="openTab(event, 'Home_Tab')">Home</button>
    <button class="tablinks" onclick="openTab(event, 'System_Tab')">System</button>
    <button class="tablinks" onclick="openTab(event, 'Fermentables_Tab')">Fermentables</button>
    <button class="tablinks" onclick="openTab(event, 'Hops_Tab')">Hops</button>
    <button class="tablinks" onclick="openTab(event, 'Mash_Tab')">Mash</button>
    <button class="tablinks" onclick="openTab(event, 'Yeast_Tab')">Yeast</button>
    <button class="tablinks" onclick="openTab(event, 'Water_Tab')">Water</button>
    <button class="tablinks" onclick="openTab(event, 'Fermentation_Tab')">Fermentation</button>
    <button class="tablinks" onclick="openTab(event, 'Chemistry_Tab')">Chemistry</button>
    
</div>

<div id="Home_Tab" class="tabcontent">
    <!-- Home Section -->
    {% include '/brewculator/home.html' %}
</div>

<div id="System_Tab" class="tabcontent">
    <!-- System Section -->
    {% include '/brewculator/system.html' %}
</div>

<div id="Fermentables_Tab" class="tabcontent" style="display:none">
    <!-- Fermentables Section -->
    {% include '/brewculator/fermentables.html' %}
</div>

<div id="Hops_Tab" class="tabcontent" style="display:none">
    <!-- Hops Section -->
    {% include '/brewculator/hops.html' %}
</div>

<div id="Mash_Tab" class="tabcontent" style="display:none">
    <!-- Mash Section -->
    {% include '/brewculator/mash.html' %}
</div>

<div id="Yeast_Tab" class="tabcontent" style="display:none">
    <!-- Yeast Section -->
    {% include '/brewculator/yeast.html' %}
</div>

<div id="Water_Tab" class="tabcontent" style="display:none">
    <!-- Water Section -->
    {% include '/brewculator/water.html' %}
</div>

<div id="Fermentation_Tab" class="tabcontent" style="display:none">
    <!-- Fermentation Section -->
    {% include '/brewculator/fermentation.html' %}
</div>

<div id="Chemistry_Tab" class="tabcontent" style="display:none">
    <!-- Chemistry Section -->
    {% include '/brewculator/chemistry.html' %}
</div>

<script type="text/javascript">
    // Initialize System Tab
    document.getElementById('Home_Tab').style.display = "block";
    document.getElementById('Home_Tab_Button').className += " active";

    function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>

<!-- End Tabs -->

<br><br><br>

<!-- App Scripts -->
<script src="../static/js/fermentables.js"></script>
<script src="../static/js/hops.js"></script>
<script src="../static/js/mash.js"></script>
<script src="../static/js/yeast.js"></script>
<script src="../static/js/water.js"></script>
<script src="../static/js/fermentation.js"></script>
<script src="../static/js/chemistry.js"></script>
<script src="../static/js/home.js"></script>

<!-- Load Script -->
<script src="../static/js/load.js"></script>
<!--<script src="../static/js/test_json.js"></script> -->

<!-- Save Script -->
<script src="../static/js/save.js"></script>

<!-- Delete Script -->
<script src="../static/js/delete.js"></script>


{% endblock %}
</body>
</html>
















