<div class='container'>
  <div class='fermentation-input-div'>
    
    <h3>Fermentation</h3>

      <div style='display: block;'>

        <div style='display: inline-block;'>
          <label style='display: block;'>Days1</label>
          <input type=text size=10 class=fermentation_input name=days1 value="7">
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Temp 1</label>
          <input type=text size=10 class=fermentation_input name=temp1 value=70>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Days2</label>
          <input type=text size=10 class=fermentation_input name=days2 value="7">
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Temp 2</label>
          <input type=text size=10 class=fermentation_input name=temp2 value=70>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Days3</label>
          <input type=text size=10 class=fermentation_input name=days3 value="7">
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Temp 3</label>
          <input type=text size=10 class=fermentation_input name=temp3 value=70>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Days4</label>
          <input type=text size=10 class=fermentation_input name=days4 value="7">
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Temp 4</label>
          <input type=text size=10 class=fermentation_input name=temp4 value=70>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Days5</label>
          <input type=text size=10 class=fermentation_input name=days5 value="7">
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Temp 5</label>
          <input type=text size=10 class=fermentation_input name=temp5 value=70>
        </div>

      </div>

    </div>

    <div class='fermentation-app-div'>
      
    <!-- Chart Code -->

    <div class=fermentationChartDiv  style='width: 70%;'>
    <canvas id="fermentationChart"></canvas>
    </div>

    </div>
    
</div>