<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Grateful Brauer</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
    <!-- Bootstrap Core CSS -->
    <!--<link href="/static/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Custum CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/thegratefulbrauer.css">

</head>


{% extends "nav-bar.html" %}
{% block Content_or_Rmd %}
<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ales
                    <small>Warm Fermented Gems</small>
                </h1>
                <p>Sweet, Full Bodied, Fruity</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Tap List</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/belgian-dark-strong_200_x_200.jpg" alt="">
                <h3><a href="/Ales/Belgian_Dark_Strong.html">Belgian Dark Strong</a>
                    
                </h3>
                <p>A dark, very rich, complex, very strong Belgian ale. Complex, rich, smooth and dangerous.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/belgian-golden-strong_200_x_200.jpg" alt="">
                <h3><a href="Ales/Belgian_Golden_Strong.html">Belgian Golden Strong</a>
                    
                </h3>
                <p>A golden, complex, effervescent, strong Belgian-style ale.</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/dunkelweissen_200_x_200.jpg" alt="">
                <h3><a href="Ales/Peach_Dunkelweissen.html">Shiner Cheer Recipe</a>
                    
                </h3>
                <p>A substantial, malty dark beer with a complex and flavorful dark malt character.</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/porter_200_x_200.jpg" alt="">
                <h3><a href="Ales/Porter.html">Porter</a>
                    
                </h3>
                <p>A substantial, malty dark beer with a complex and flavorful dark malt character.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/rye-pale-ale_200_x_200.jpg" alt="">
                <h3><a href="Ales/Rye Pale Ale.html">Rye Pale Ale</a>
                    
                </h3>
                <p>A decidedly hoppy and bitter, moderately strong American pale ale, showcasing modern American and New World hop varieties and rye malt</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/saison_200_x_200.jpg" alt="">
                <h3><a href="Ales/Saison.html">Saison</a>
                    
                </h3>
                <p>A refreshing, medium to strong fruity/spicy ale with a distinctive yellow-orange color, highly carbonated, well hopped, and dry with a quenching acidity</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/scottish-70_200_x_200.jpg" alt="">
                <h3><a href="Ales/Scottish_70.html">Scottish 70/-</a>
                    
                </h3>
                <p>Cleanly malty with a drying finish, perhaps a few esters, and on occasion a faint bit of peaty earthiness (smoke). Most beers finish fairly dry considering their relatively sweet palate, and as such have a different balance than strong Scotch ales</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive center-block" src="../static/img/beer_photos/scottish-60_200_x_200.jpg" alt="">
                <h3><a href="Ales/Scottish_60.html">Scottish 60/-</a>
                    
                </h3>
                <p>Somewhat lighter than it's 70 shilling counterpart. Malty and extremely sessionable.</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Grateful Brauer 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

</body>
{% endblock %}

</html>
