<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Grateful Brauer</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Bootstrap Core CSS -->
    <!--<link href="/static/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custum CSS -->
    <link rel="stylesheet" type="text/css" href="../static/custom.css">

</head>

{% extends "nav-bar.html" %}
{% block Content_or_Rmd %}

    <!-- Page Content -->
    <h1 class="greetings">Beer is good.</h1>


    <div class="container">
    <div class="row imagetiles">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/Lagers"><img src="../static/img/Lagers-Homepage.jpg" class="img-responsive" alt="Lagers-Homepage"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/Ales"><img src="../static/img/Ales-Homepage.jpg" class="img-responsive" alt="Ales-Homepage"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="#"><img src="../static/img/Yeast-Homepage.jpg" class="img-responsive" alt="Yeast-Homepage"></a>
        </div>
    </div>
    </div>



    <!--<img src="../static/img/Lagers-Homepage.jpg" class="img-fluid" alt="Responsive image">-->


    <blockquote>
    <p class="main text-left lead">
    I started brewing in January 2014 with my good friend Ben. In the beginning, we were in a frenzy of exploring as many beer styles and brewing techniques as possible. In 2014, we brewed ten unique styles, which were all drinkable, but still had that taste of "home brew". After visiting the Mystic Brewery in Chelsea, MA last April 2015, I was astonished how unique their beer was. It simultaneously matched the beer style they were shooting for, yet had a subtle (truly mystic) flavor that made it new and unique. This moment really inspired me to go on a journey to make a beer that makes me feel this way. The philosophy of this blog is to record my progress and experimentation with making a beer that is true to style, but somehow different than what you've had before. And my ultimate goal is to have someone drink my beer and be surprised that it came out of an ordinary man's kitchen (or more accurately, his friends' kitchen).
    </p>
    <footer> Kyle </footer>
    </blockquote>


    <p>If this worked then this word in brackets is "Admin": [{{role}}]</p>



    <!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

{% endblock %}

</html>
