<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custum CSS -->
    <link rel="stylesheet" type="text/css" href="../static/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <h1 class="sitetitle">THE GRATEFUL BRAUER</h1>

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--<a class="navbar-brand" href="/">The Greatful Brauer ;)</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="/Ales" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Ales
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/Ales"> [ All Ales ] </a></li>
                    <li><a href="/Ales/Belgian_Dark_Strong.html">Belgian Dark Strong</a></li>
                    <li><a href="/Ales/Belgian_Golden_Strong.html">Belgian Golden Strong</a></li>
                    <li><a href="/Ales/Porter.html">Porter</a></li>
                    <li><a href="/Ales/Rye_Pale_Ale.html">Rye Pale Ale</a></li>
                    <li><a href="/Ales/Saison.html">Saison</a></li>
                    <li><a href="/Ales/Scottish_60.html">Scottish 60/-</a></li>
                    <li><a href="/Ales/Scottish_70.html">Scottish 70/-</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="/Ales" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Lagers
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/Lagers"> [ All Lagers ] </a></li>
                    <li><a href="Lagers/Altbier.html">Altbier</a></li>
                    <li><a href="Lagers/Berliner_Weisse.html">Berliner Weisse</a></li>
                    <li><a href="Lagers/Bock.html">Bock</a></li>
                    <li><a href="Lagers/Kolsch.html">Kolsch</a></li>
                    <li><a href="Lagers/Schwarzbier.html">Schwarzbier</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                  </ul>
                </li>

                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li class="disabled"><a href="#">Yeast</a></li>
                <li class="disabled"><a href="#">Brewculator</a></li>
                <li class="disabled"><a href="#">About</a></li>

              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- /.container -->

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lagers
                    <small>Cold Fermented Gems</small>
                </h1>
                <p>Crisp, Clean, Clear</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/beer_photos/altbier_110_x_165.jpg" alt="">
                <h3><a href="Lagers/Altbier.html">Altbier</a>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/beer_photos/berliner-weisse_225_200.jpg" alt="">
                <h3><a href="Lagers/Berliner_Weisse.html">Beliner Weisse</a>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/beer_photos/bock_200_x_300.jpg" alt="">
                <h3><a href="Lagers/Bock.html">Bock</a>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/beer_photos/kolsch_200_x_200.jpg" alt="">
                <h3><a href="Lagers/Kolsch.html">Kolsch</a>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../static/img/beer_photos/schwarzbier_200_x_200.jpg" alt="">
                <h3><a href="Lagers/Schwarzbier.html">Schwarzbier</a>
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/bootstrap.min.js"></script>

</body>

</html>
