  <h1 class="sitetitle">THE GRATEFUL BRAUER</h1>

  <!-- Navigation -->
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/">The Greatful Brauer ;)</a>-->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/brewculator">Brewculator</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logout</a></li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Ales <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/Ales"> [ All Ales ] </a></li>
                  <li><a href="/Ales/Belgian_Dark_Strong.html">Belgian Dark Strong</a></li>
                  <li><a href="/Ales/Belgian_Golden_Strong.html">Belgian Golden Strong</a></li>
                  <li><a href="/Ales/Peach_Dunkelweissen.html">Shiner Cheer Remake</a></li>
                  <li><a href="/Ales/Porter.html">Porter</a></li>
                  <li><a href="/Ales/Rye_Pale_Ale.html">Rye Pale Ale</a></li>
                  <li><a href="/Ales/Saison.html">Saison</a></li>
                  <li><a href="/Ales/Scottish_60.html">Scottish 60/-</a></li>
                  <li><a href="/Ales/Scottish_70.html">Scottish 70/-</a></li>
                  <li><a href="/Ales/Mexican_Stout.html">Mexican Stout/-</a></li>
                  <li><a href="/Ales/American_IPA.html">American IPA/-</a></li>
                  <li><a href="/Ales/Coconut_IPA.html">Coconut IPA/-</a></li>
                  <!--<li role="separator" class="divider"></li>-->
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Lagers <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/Lagers"> [ All Lagers ] </a></li>
                  <li><a href="/Lagers/Altbier.html">Altbier</a></li>
                  <li><a href="/Lagers/Berliner_Weisse.html">Berliner Weisse</a></li>
                  <li><a href="/Lagers/Bock.html">Bock</a></li>
                  <li><a href="/Lagers/Kolsch.html">Kolsch</a></li>
                  <li><a href="/Lagers/Schwarzbier.html">Schwarzbier</a></li>
                  <li><a href="/Lagers/Steam_Beer.html">Steam Beer</a></li>
                  <!--<li role="separator" class="divider"></li>-->
                </ul>
              </li>


            </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <!-- /.container -->

  {% block Content_or_Rmd %}{% endblock %}


